.home {
  margin: 2rem auto;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.home__heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: blue;
  margin: 1.06rem;
  padding: 4rem;
  text-align: center;
  width: 100%;
}
